<div id="container" style="width: 800px;height: 400px"></div>
<script type="text/javascript">
    $(document).ready(function() {
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });
        var chart;
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'spline',
                marginRight: 10,
                events: {
                    load: function() {
                        // set up the updating of the chart each second
                        var series = this.series[0];
                        var dataY = new Array();
                        var dataX = new Array();

                        setInterval(function() {
                            $.ajax({
                                type:'GET',
                                url:'/ecg',
                                dataType:'json',
                                timeout:60000,
                                data:{
                                    surgery_no:'123'
                                },
                                success:function(ecg){
                                    if(!jQuery.isEmptyObject(ecg)){
                                        var x = (new Date()).getTime(); // current time
                                        for(var i=0;i<500;i+=10){
                                            dataX.push(x);
                                            dataY.push(ecg.ecg[0][i]);
                                            //series.addPoint([x, ecg.ecg[0][i]], true, true);
                                            x+=20;
                                        }

                                    }
                                },
                                error:function(){
                                    alert('获取数据异常！');
                                }
                            });

                        }, 1000);
                        setTimeout(function(){
                            setInterval(function() {
                                var dx = dataX.shift();
                                var dy = dataY.shift();
                                console.info('data:');
                                console.info(dx);
                                console.info(dy);
                                if (typeof(dx) != "undefined" && typeof(dy) != "undefined"){
                                    series.addPoint([dx, dy], true, true);
                                }
                                /*if(!jQuery.isEmptyObject(dx) && !jQuery.isEmptyObject(dy)){
                                    series.addPoint([dx, dy], true, true);
                                }*/
                            }, 20);
                        },2000)
                    }
                }
            },
            title: {
                text: '<b>心电图</b>'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: {
                title: {
                    text: '单位：'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.series.name +'</b><br/>'+
                            Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) +'<br/>'+
                            Highcharts.numberFormat(this.y, 2);
                }
            },
            legend: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: 'ECG',
                data: (function() {
                    // generate an array of random data
                    var data = [],
                            time = (new Date()).getTime(),
                            i;

                    for (i = -499; i <= 0; i++) {
                        data.push({
                            x: time + i * 20,
                            y: Math.random()
                        });
                    }
                    return data;
                })()
            }]
        });
    });
</script>